<li class="col-xs-6 col-sm-4 col-md-2">

<% if current_user == product.user %>
<div class="actions btn-group-vertical" role="group">
  <%= link_to edit_product_path(product), title: 'Редактировать', class: 'btn btn-default btn-xs' do %>
  <i class="glyphicon glyphicon-pencil"></i>
  <% end %>
  <%= link_to product_path(product), method: 'delete', title: 'Уничтожить', class: 'btn btn-default btn-xs' do %>
  <i class="glyphicon glyphicon-trash"></i>
  <% end %>
</div>
<% end %>

  <%= link_to product do %>
    <%= image_tag product.photo.url(:thumb), alt: product.name, title: product.name %><br> 
    <strong><%= product.name %></strong>
  <% end %>

</li>
