<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>Посмотрите наш замечательный котолог</h1>
    </div>

    <div class="col-md-3 text-right">
      <% if user_signed_in? %>

      <%= gravatar_for current_user, size: 100, style: 'vertical-align: top; text-align: left' %>
      <h4>
        <%= current_user.name != '' ? current_user.name : current_user.email %>
      </h4>

      <ul class="list-unstyled">
        <li><%= link_to 'Редактировать профиль', '#' %></li>
        <li><%= link_to 'Добавить котика', new_product_path %></li>
        <li><%= link_to 'Мои котики', products_path %></li>
        <li><%= link_to 'Выйти к чертям', destroy_user_session_path %></li>
      </ul>

      <% else %>

        <h2>Log in</h2>

        <%= form_for(:user, url: session_path(:user)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>

      <% end %>


    </div>
  </div>
</div>