<% if @product.pro? && !user_signed_in? %>

  <h1>Вы должны быть
    <%= link_to 'зарегистрированы', new_user_registration_path %>
    для просмотра этого котика</h1>
  <h2>Этот котик — БРО</h2>

<% else %>

<h1>
  Котик <%= @product.name %>
  <% if @product.pro? %>
    <i class="glyphicon glyphicon-star"></i> БРО
  <% end %>
</h1>

<% if current_user == @product.user %>
<div class="actions btn-group-vertical" role="group">
  <%= link_to edit_product_path(@product), title: 'Редактировать', class: 'btn btn-default btn-xs' do %>
  Редактировать <i class="glyphicon glyphicon-pencil"></i>
  <% end %>
  <%= link_to product_path(@product), method: 'delete', title: 'Уничтожить', class: 'btn btn-default btn-xs' do %>
  Уничтожить <i class="glyphicon glyphicon-trash"></i>
  <% end %>
</div>
<% end %>

<% if user_signed_in? && current_user.admin? %>
<div class="actions btn-group-vertical" role="group">
  <%= link_to toggle_pro_product_path(@product),
              title: 'Сделать про',
              method: 'put',
              class: 'btn btn-default btn-xs' do %>
    <% if @product.pro? %>
      Не бро
    <% else %>
      Бро
    <% end %>
    <i class="glyphicon glyphicon-star"></i>
  <% end %>
</div>
<% end %>

<% if user_signed_in? && current_user.guest? %>
<div class="actions btn-group-vertical" role="group">
  <%= link_to order_product_path(@product),
              title: 'Купить котеньку',
              method: 'put',
              class: 'btn btn-default btn-xs' do %>
    Купить котеньку
    <i class="glyphicon glyphicon-shopping-cart"></i>
  <% end %>
</div>
<% end %>


<%= image_tag @product.photo.url(:medium) %>

<div class='description'>
  <%= @product.description %> 
</div>

<div class="author">
  <strong>Автор:</strong> <%= (@product.user.name != '') ? @product.user.name : @product.user.email %>
</div>

<% if user_signed_in? && (current_user.admin? || current_user.owner?) %>
<div class="author-shop">
  <strong>Котоферма:</strong> <%= @product.user.store_name %>
</div>
<% end %>

<% end %>